@use '../../global.module.scss' as *;
@use 'sass:list';
@use 'sass:math';

.rulesPage {
    padding: 54px;
    position: relative;
    min-height: $minPageHeight;
    display: flex;
    flex-direction: column;
    // background-color: black;
    // background-image: url('/images/rules/rules-bg.png');
    background-size: cover;

    .rulesTitle {
        margin-top: 0px;
        font-size: 2.7rem;
        line-height: 2.7rem;
        font-weight: lighter;
        font-family: $titleFont;

        @for $letterIndex from 1 through 5 {
            span:nth-child(#{$letterIndex}) {
                $color: list.nth($titleColors, $letterIndex);
                color: $color;
                // filter: drop-shadow(0px 0px 10px $color);
            }
        }
    }

    .rulesText {
        font-family: $paraFont;
        color: $primaryColor;
        z-index: 10;

        ol {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1rem;

            @for $i from 1 through 4 {
                li:nth-child(#{$i}) {
                    color: $primaryColor;

                    span {
                        $color: list.nth($titleColors, math.random(list.length($titleColors)));
                        color: $color;
                        // filter: drop-shadow(0px 0px 10px $color);
                    }
                }
            }

            @media (max-width: $breakPoint) {
                padding-left: 12px;
            }
        }
    }

    .rulesImage {
        position: absolute;
        display: block;
        // margin: auto;
        // margin-bottom: 0px;
        // padding-top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        bottom: 0%;
        z-index: -1;
    }
    @media (max-width: $breakPoint) {
        padding: 24px;
    }
}