@use "../global.module.scss" as *;

.toasterContainer {
    position: fixed;
    z-index: 100;
    height: calc(100% - 48px);
    top: 0%;
    width: clamp(0rem, 60%, 18rem);
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    gap: 12px;
    padding: 24px;

    .toasterNotif {
        border: 3px solid rgba(255, 255, 255, 0.814);
        color: $primaryColor;
        font-family: $paraFont;
        padding: 12px;
        text-align: center;
        font-size: 0.6rem;
        background-color: rgba(35, 35, 35, 0.162);
    }
}