$titleFont: "TheRock", sans-serif;
$secondaryFont: "RockSalt", sans-serif;
$paraFont: "New Rocker", sans-serif;
$bandNameFont: "Crazy Ivan", sans-serif;
$minPageHeight: calc(100vh - 108px); //not applicable on hero/landing

$breakPoint: 750px;

$primaryColor: #eeeeee;
$titleColors: (
    #ff0000,
    #0000ff,
    #00ff00,
    #64c4ff,
    #ff3c00,
    #006aac,
    #ffff00,
    aqua,
    magenta,
    #1aff00,
    #ffd700,
    #ff0059
);

@font-face {
    font-family: 'TheRock';
    src: url('./fonts/THEROCK.otf') format('opentype');
}
@font-face {
    font-family: 'RockSalt';
    src: url('./fonts/RockSalt.ttf') format('truetype');
}
@font-face {
    font-family: 'New Rocker';
    src: url('./fonts/NewRocker-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Crazy Ivan';
    src: url('./fonts/crazyivan.ttf') format('truetype');
}

@media (min-width: $breakPoint) {
    $minPageHeight: calc(100vh - 48px)
}

:root {
    font-size: clamp(100%, 1.5vw + 6px, 300%);
}

body {
    margin: 0px;
    width: calc(100vw - (100vw - 100%));
}

* {
    user-select: none;
}